#customHeader {
  text-align: center;
  background-color: lightskyblue;
}

#dayOne {
  border: 3px solid black;
}

#dayTwo {
  border: 3px solid black;
}

#dayThree {
  border: 3px solid black;
}
#dayFour {
  border: 3px solid black;
}
#dayFive {
  border: 3px solid black;
}
